torch
torchvision
transformers==4.51.3
opencv-python
timm
SentencePiece
pyclipper
pycocotools
yapf
sortedcontainers
supervision==0.21.0
simplejson
addict
termcolor
shapely
datasets==2.18.0
modelscope
matplotlib
dashscope
modelscope==1.15.0
tensorflow==2.10.1
numpy==1.26.4
faiss-cpu
langchain
langchain-community
tf_slim